* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-image: url("backgroungImageLight.jpg");
  background-size: 1600px 700px;
  padding-top: 5rem;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 100px;
  width: 800px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-right: 400px;
  margin-left: 400px;
  margin-bottom: 1rem;
  /* position: absolute; */
}

.heading {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  position: relative;
  align-items: center;
}

.heading-text {
  color: #333333;
  font-weight: bold;
}

.mode {
  position: absolute;
  right: 2rem;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  height: 45px;
}

.search-bar {
  /* margin: 0.75rem; */
  margin-left: 2rem;
  margin-right: 2rem;
  border: 1px solid #bbc2c2;
  height: 2.5rem;
  width: 736px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.search-input {
  outline: none;
  border: none;
  color: #bbc2c2;
}

::placeholder {
  color: #bbc2c2;
}

.container {
  height: 100px;
  width: 800px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-right: 400px;
  margin-left: 400px;
  margin-bottom: 1rem;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

.profile-picture {
  height: 76px;
  width: 76px;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  margin-left: 2rem;
  /* margin-right: 2rem; */
  border-radius: 50%;
  /* border: 1px solid black; */
  /* background-image: url(Gemini_Generated_Image_a2gsw0a2gsw0a2gs.png); */
  background-size: cover;
}

.user-details {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 76px;
  width: 500px;
  /* border: 1px solid black; */
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.user-name {
  color: #333333;
  font-size: 25px;
  font-weight: bold;
}

.user-description {
  color: #bbc2c2;
  font-size: small;
  font-weight: 600;
}

.div-btn {
  height: 76px;
  width: auto;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow {
  border: 2px solid #007bff;
  border-radius: 50px;
  height: 30px;
  width: 100px;
  color: #007bff;
  font-weight: 600;
  background-color: #ffffff;
  cursor: pointer;
}

.following {
  border: 2px solid #007bff;
  border-radius: 50px;
  height: 30px;
  width: 100px;
  color: #ffffff;
  font-weight: 600;
  background-color: #007bff;
  cursor: pointer;
}

/* Dark Mode */
/* * {
  margin: 0;
  padding: 0;
} */

.dark-theme {
  margin: 0;
  /* background-image: url("dark-updated.jpg"); */
  background-size: 1600px 700px;
  padding: 0;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
}

.dark-theme .navbar,
.dark-theme .container {
  background-color: #2a2a2a;
}

.dark-theme .heading-text,
.dark-theme .user-name {
  color: #ffffff;
}

.dark-theme .user-description {
  color: #b0b0b0;
}

.dark-theme .search-bar {
  border: 1px solid #666666;
  background-color: #ffffff;
}

.dark-theme .search-input {
  outline: none;
  border: none;
  color: #bbc2c2;
  background-color: transparent;
}

.dark-theme ::placeholder {
  color: #bbc2c2;
}

.dark-theme .follow {
  border: 2px solid #42a5f5;
  color: #ffffff;
  background-color: #3a3a3a;
}

.dark-theme .following {
  border: 2px solid #42a5f5;
  background-color: #42a5f5;
  color: #ffffff;
}

.dark-theme .mode {
  background-color: #2a2a2a;
}
